<div class="site-wrap">
    <div class="column left">
        <section class="playlist">
            <h1>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h1>
        </section>
    </div>
    <div class="column center">
        <section class="player">
            <h1>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h1>
        </section>
        <section class="chat">
            <h1>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h1>
        </section>
    </div>
    <div class="column right">
        <section class="users">
            <h1>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h1>
        </section>
    </div>
</div>